/*
Theme Name: Belgica
Theme URI: localhost/wordpress
Author: Sander Meert
Author URI: http://super.org
Description: In 2014, our default theme lets you create a responsive magazine website with a sleek, modern design. Feature your favorite homepage content in either a grid or a slider. Use the three widget areas to customize your website, and change your content's layout with a full-width page template and a contributor page to show off your authors. Creating a magazine website with WordPress has never been easier.
Version: 1.0
*/

@import url('styles/normalize.css');
@import url('components/bootstrap/css/bootstrap.min.css');
@import url('components/fontawesome/css/font-awesome.css');

/*
 * Main selectors
 */
* {
    margin: 0;
    padding: 0;
}

html, body {
    color: #EDCB45;
    background-color: #080808;
    height: auto;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}

p {
    padding-top: 0.2em;
}


/*
 * layout selectors
 */
#page_wrapper {
    width: 100%;
    margin: 0 auto;
}

#header_wrapper {
    width: inherit;
    margin: auto;
    background-color: #6B060C;
}

header {
    width: 960px;
    height: auto;
    margin: auto auto;
    padding: 1px 0;
}

header h1 {
    font-family: 'Oxygen', Verdana, sans-serif;
    color: #CFAD27;
    font-size: 2.5em;
    font-weight: 700;
    margin-left: 10px;
    margin-bottom:10px;
}

header h1 a, header h1 a:hover {
    color: #CFAD27;
}

#nav_wrapper {
    width: inherit;
    height: 30px;
    margin: auto;
    background: #6b060c;
}


.blog-masthead {
    background-color: #EDCB45;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Top Menu */
.menu li {
    position: relative;
    display: inline-block;
    padding: 7px 10px 10px 10px;
    font-weight: 500;
    color: #6B060C;
    border-top: 3px solid transparent;

}

.menu > li:hover, .menu > li:focus {
    text-decoration: none;
    border-top: 3px solid #6B060C;
    color: #6B060C;
}

/* Active state gets a caret at the bottom */
.menu li .active, .menu li a {
    color: #591515;
}
.menu > .current-menu-item:after, .menu > li > ul > li:hover > ul > li:hover:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right:  5px solid transparent;
    border-bottom: 5px solid;
    border-left:   5px solid transparent;
}



.menu > li > .sub-menu, .menu > li > ul > li > ul {
    display: none;
}

.menu > li:hover > ul, .menu > li > ul:hover {
    background-color: #EDCB45;
    position: absolute;
    z-index: 2;
    top: 35px;
    left:0px;
    display: block;
}

.menu > li > .sub-menu > li, .menu > li > ul > li:hover > ul > li{
    border-top: 0px solid;
}

.menu > li > ul > li:hover {
    color: #6B060C;
}

.menu > li > ul > li:hover:after {
    position: absolute;
    bottom: 43%;
    left: 0;
    width: 0;
    height: 0;
    margin-left: 0px;
    vertical-align: middle;
    content: " ";
    border-top:  5px solid transparent;
    border-left: 5px solid;
    border-bottom:   5px solid transparent;
}

.menu > li > ul > li:hover > ul {
    display: block;
    position: absolute; left: 100%; top:0;
    background-color: #EDCB45;
    width: 100%;
}

#main_wrapper {
    width: inherit;
    min-height: 500px;
    margin: 0 auto;
    background-color: #080808;
}

main {
    width: 960px;
    height: inherit;
    margin: auto auto;
    padding: 0;
    color: #CFAD27;
}

main section {
    width: 66%;
    height: inherit;
    float: left;
    padding: 0;
}

aside {
    width: 34%;
    height: inherit;
    float: right;
}

main section h1, main section h1 a{
    padding: 20px 0 5px 0;
    margin: 0;
    color:#CFAD27;
}

main > section h2{
    font-size: 1.4em;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

#footer_wrapper {
    width: inherit;
    height: 80px;
    margin: auto;
    background-color: #6B060C;
}

footer {
    width: 960px;
    height: inherit;
    margin: 20px auto 0 auto;
    text-align: center;
}

nav {
    width: 960px;
    height: inherit;
    margin: auto auto;
    color: #EDCB45;
}

footer p {
    font-size: 0.9em;
    padding: 30px 0 0 0;
}

aside > section {
    position: relative;
    width: 100%;
    padding: 1em 1.5em;
    margin: 2em auto 0 auto;
    color: #EDCB45;
    background: #6B060C;
}

aside > section:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #49040A #080808;
}

aside > section h3 {
    padding:0;
    margin:0;
}


a {
    color: #AC7A05;
}

a:hover {
    color: #AC7A05;
}

/**
Side Menu
**/
/* Top Menu */
.sidemenu li {
    position: relative;
    display: block;
    font-weight: 500;
    color: #EDCB45;
}

.sidemenu > li:hover, .sidemenu > li:focus {
    text-decoration: underline;
    color: #AC7A05;
}

/* Active state gets a caret at the bottom */
.sidemenu li .active, .sidemenu li a {
    color: #EDCB45;
}

.sidemenu > li > .sub-menu {
    display: block;
}

.sidemenu > li > .sub-menu > li:hover {
    color: #AC7A05;
}

/** Article/Individual post **/
main > section > article {
    margin-left: 10px;
    margin-right: 20px;
}

.wp-user-avatar {
    float: left;
}

article > p > span > img {
    margin-right: 3px;
}

article > h1 {
    clear: both;
}

article > p {
    margin-bottom: 10px;
}

/**
Responsiveness
**/
@media(max-width:1024px){
    header, nav, main {
        width: 100%;
        max-width: 960px;
    }
    aside, main > section {
        width: 80%;
        margin: auto;
        padding: 0;
        float: none;
    }
    main > section {
        float:left;
    }

    aside > section {
        width: 80%;
    }

    footer {
        width: 100%;
    }
}

@media(max-width:768px){
    header, nav, main {
        width: 100%;
        max-width: 786px;
    }
    aside, main > section {
        width: 80%;
        margin: auto;
        padding: 0;
        float: none;
    }
    main > section {
        width: 100%;
        float:left;
    }

    aside > section {
        width: 80%;
    }

    footer {
        width: 100%;
    }
}


/*
 * Nicolas Gallagher's Micro ClearFix.
 * See: http://nicolasgallagher.com/micro-clearfix-hack/
 */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /* for IE 6/7 only */
}

/**
 *  Scroll To Top
 */
.scrolltotop{
    color: #EDCB45;
    position:fixed;
    bottom:12px;
    right: 20px;
    /* verberg tekst in de span klasse */
    opacity:0.48;
    cursor:hand;
    cursor:pointer;
    display: none;
}
.scrolltotop:hover{
    opacity:0.92;
}

.portfolio-image {
    width: 250px;
    max-width: 100%;
}

.avatar {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    border-radius:50%;
}

input, textarea {
    max-width: 100%;
    padding: 0.25em 0.25em;
    margin: 3px;
    color: #EDCB45;
    background-color: #49040A;
    border: 1px solid transparent;
    outline: none;
}

input[type="submit"]{
    width: 120px;
}

input:focus, textarea:focus{
    background-color: #6B060C;
}

.newsletter-email:focus, .newsletter-submit:focus{
    background-color: #49040A;
    border: 1px solid #EDCB45;
}

.widgettitle {
    font-size: 1.17em;
}

.recent_posts ul li {
    list-style: none;
}
.recent_posts ul li a{
    color: #EDCB45;
}
.recent_posts ul li a:hover{
    text-decoration: underline;
}
 hr {
     border: 2px solid #6B060C;
     width: 50%;
     margin: auto;
 }